<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let user of Users"
      [routerLink]="['/tabs','user',user.login]"
      (click)="offMenu()"
    >
      <ion-avatar slot="start">
        <ion-img [src]="user.avatar_url"></ion-img>
      </ion-avatar>
      <ion-label> {{user.login}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
